@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,900);

@font-family-sans-serif: 'Source Sans Pro', sans-serif;
@font-size-base: 18px;
@brand-primary: #5F0013;
@code-color: @brand-primary;
@code-bg: @gray-lighter;

b {
    font-weight: 600;
}

.center-vertical {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    100% {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
    animation-duration: 1500ms;
}

.fadeInDown {
    animation-name: fadeInDown;
}

.fadeInUp {
    animation-name: fadeInUp;
}

#header {
    height: 90vh;
}

#header h1 {
    font-size: 50px;
    @media (min-width: @screen-sm-min) {
        font-size: 100px;
    }
    font-weight: 900;
}

