@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,900);

@font-family-sans-serif: 'Source Sans Pro', sans-serif;
@font-size-base: 18px;
@brand-primary: #5F0013;

b {
    font-weight: 600;
}

#header h1 {
    font-size: 50px;
    @media (min-width: @screen-sm-min) {
        font-size: 100px;
    }
    font-weight: 900;
}

